<% if @order.errors.any? %>
<h2>Errors</h2>
<ul>
  <% @order.errors.each do |column, message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<h1>Checkout</h1>
<%= form_with model: @order, url: order_path(@order) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :email, "E-mail" %>
  <%= f.text_field :email %><br>
  <br>
  Shipping information<br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :city %>
  <%= f.text_field :city %><br>
  <%= f.label :state %>
  <%= f.text_field :state %><br>
  <%= f.label :zip_code %>
  <%= f.text_field :zipcode %><br>
  <br>
  Billing information<br>
  <%= f.label :credit_card_number, "Credit card number" %>
  <%= f.text_field :cc_num %><br>
  <%= f.label :credit_card_expiration, "Credit card expiration" %>
  <%= f.text_field :cc_exp %><br>
  <%= f.label :credit_card_cvv, "Credit card CVV" %>
  <%= f.text_field :cc_cvv %><br>
  <%= f.hidden_field :status, value: "paid" %>
  <%= f.hidden_field :order_date, value: Time.new %>
  <%= hidden_field_tag :order_paid, true %>
  <%= f.submit "Complete order" %>
<% end %>
