<h1>Order details</h1>
<% date = @order.order_date.in_time_zone("Pacific Time (US & Canada)") %>
Placed: <%= date.strftime( "%B %e, %Y %l:%M %p") %><br>
Status: <%= @order.status.capitalize %><br>
Name: <%= @order.name %><br>
Email: <%= @order.email %><br>
Address: <%= @order.address %><br>
City: <%= @order.city %><br>
State: <%= @order.state %><br>
Zipcode: <%= @order.zipcode %><br>
<% cc_length = @order.cc_num.length %>
Credit card number: <%= "X" * (cc_length - 4) + @order.cc_num[-4..-1] %><br>
Credit card expriation: <%= @order.cc_exp %><br>
Credit card cvv: <%= @order.cc_cvv %><br>

<table>
  <tr>
    <th>PHOTO</th>
    <th>NAME</th>
    <th>DESCRIPTION</th>
    <th>MERCHANT</th>
    <th>QUANTITY</th>
    <th>UNIT PRICE</th>
    <th>LINE PRICE</th>
  </tr>

  <% @order.orderitems.each do |item| %>
    <tr>
      <td><%= link_to image_tag(item.product.photo_url, alt:"#{item.product.name}"), product_path(item.product) %></td>
      <td><%= link_to "#{ item.product.name.capitalize }", product_path(item.product) %></td>
      <td><%= item.product.description %></td>
      <td><%= link_to "#{item.product.merchant.username}", merchant_path(item.product.merchant) %></td>
      <td><%= item.quantity %></td>
      <td>$<%= sprintf('%.2f', item.product.price) %></td>
      <td>$<%= sprintf('%.2f', item.total) %></td>
    </tr>
  <% end %>
  
  <tr><td></td><td></td><td></td><td></td><td>Shipping $5.00</td><td>Order total: $</td><td><%= @order.total + 5 %></tr>
</table>
