<h1>Shopping cart</h1>

<% if @cart.orderitems.any? %>
  <% alpha_items = @cart.orderitems %>
  <% alpha_items.order(:id).each do |item| %>
    <%= link_to "#{ item.product.name.capitalize }", product_path(item.product) %><br>
    <%= image_tag(item.product.photo_url, alt:"#{item.product.name}") %><br>


    <%= item.quantity %>
    <%= form_with model: item do |f| %>
      <%= f.hidden_field :id, value: @cart.id %>
      <%= hidden_field_tag :old_quantity, item.quantity %>
      <%= f.label :quantity %>
      <% available = item.product.stock_qty + item.quantity %>
      <%= f.select :quantity, (1..available)%>
      <%= f.submit "Update quantity" %>
    <% end %>
    <%= link_to "Remove from cart", orderitem_path(item), method: :delete %><br><br>
  <% end %>
<% else %>
  Your shopping cart is empty.
<% end %>
