<h1>Shopping cart</h1>
<aside class="order_summary">
<table class="table table-sm table-borderless" frame = "box" id="order_total">
<tr>
<td>Order Total:</td>
<td>$0.00</td>
</tr>
<tr>
<td>Shipping:</td>
<td>$0.00</td>
</tr>
<tr>
<td>Total (# Items)</td>
<td>$0.00</td>
</tr>
<tr>
<td colspan=2><a class="btn btn-outline-primary" href="#" role="button">Proceed to Checkout</button></td>
</tr>
</table>
</aside>
<section class = "shopping_cart">
<table class="table table-hover table-sm" frame = "box" id="shopping_cart">
<thead>
<tr>
<th> IMAGE </th>
<th> PRODUCT </th>
<th> QTY </th>
<th> PRICE </th>
<th> TOTAL </th>
<th> EDIT </th>
<th> DELETE </th>
</tr>
</thead>
<% if @cart.orderitems.any? %>
  <% @cart.orderitems.each do |item| %>
  <tr>
  <td><%= image_tag(item.product.photo_url, alt:"#{item.product.name}") %></td>
  <td>
  <%= link_to "#{ item.product.name.capitalize }", product_path(item.product) %>
  <br />
  <%= item.product.description %>
  <br />
  <%= item.product.merchant.username %>
  </td>
  <td><%= item.quantity %></td>
  <td>$<%= item.product.price %></td>
  <td>$<%= item.product.price*item.quantity %></td>
  <td><%= link_to "Edit", orderitem_path(item) %></td>
  <td><%= link_to "Delete", orderitem_path(item), method: :delete %></td>
  </tr>
  <% end %>
  </table>
<% else %>
  Your shopping cart is empty.
  
<h1>Order details</h1>
<% date = @order.order_date.in_time_zone("Pacific Time (US & Canada)") %>
Placed: <%= date.strftime( "%B %e, %Y %l:%M %p") %><br>
Status: <%= @order.status.capitalize %><br>
Name: <%= @order.name %><br>
Email: <%= @order.email %><br>
Address: <%= @order.address %><br>
City: <%= @order.city %><br>
State: <%= @order.state %><br>
Zipcode: <%= @order.zipcode %><br>
Credit card number: <%= @order.cc_num %><br>
Credit card expriation: <%= @order.cc_exp %><br>
Credit card cvv: <%= @order.cc_cvv %><br>

<% @order.orderitems.each do |item| %>
  <%= image_tag(item.product.photo_url, alt:"#{item.product.name}") %><br>
  <%= link_to "#{ item.product.name.capitalize }", product_path(item.product) %><br>
  Quantity: <%= item.quantity %><br>
  Unit price: $<%= item.product.price %><br><br>
<% end %>
</section>
