<section class="merchant-dashboard-container">
  <section class="merchant_info">
    <section class="merchant-image">
      <% if @merchant.uid < 100000 %>
        <%= image_tag "https://avatars1.githubusercontent.com/u/0", alt: "Anonymous profile photo" %>
      <% else %>
        <%= image_tag "https://avatars1.githubusercontent.com/u/#{@merchant.uid}", alt: "github profile photo" %>
      <% end %>
    </section>
    
    <section class="merchant_info_details">
      <h3 class="cell_left"><%= @merchant.username.capitalize %></h3>
      <h3 class="cell_right">$ <%= @merchant.calculate_gross_sales %></h3>
      <p class="cell_left"><%= @merchant.email %></p>
      <p class="cell_right">Gross Sales</p>
      <p class="cell_left"><%= @merchant.uid %></p>
      <p class="cell_right"><%= @merchant.active_products %></p>
      <p class="cell_left">Membership Duration: <%= @merchant.member_since %></p> 
      <p class="cell_right"># Average Product Rating</p>
    </section>
  </section>

  <hr />
  <section class="info_section">
    <h4>Orders</h4>
    <%# later change to Paid Order %>
    <h5><a name="orders_active">Pending Orders</a></h5>
    <table class="table table-hover table-sm merchant_details" frame = "box" id="merchant_product_index">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <% @merchant.all_orderitems.each do |orderitem| %>
    <% if orderitem.order.status == "pending" %>
      <tr>
        <td><%= orderitem.order.id %></td>
        <td><%= orderitem.order.order_date %></td>
        <td><%= orderitem.product.name %></td>
        <td><%= image_tag orderitem.product.photo_url, class: "sm_product_image", alt:"#{orderitem.product.name}" %></td>
        <td>$<%= orderitem.product.price %></td>
        <td><%= orderitem.quantity %></td>
        <td>$<%= orderitem.total %></td>
        <td>
          <% if orderitem.complete %>
          complete
          <% else %>
          incomplete
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
    </table>

    <br /><br />

    <h5><a name="orders_active">Completed Orders</a></h5>
    <table class="table table-hover table-sm merchant_details" frame = "box" id="merchant_product_index">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <% @merchant.all_orderitems.each do |orderitem| %>
    <% if orderitem.order.status == "complete" %>
      <tr>
        <td><%= orderitem.order.id %></td>
        <td><%= orderitem.order.order_date %></td>
        <td><%= orderitem.product.name %></td>
        <td><%= image_tag orderitem.product.photo_url, class: "sm_product_image", alt:"#{orderitem.product.name}" %></td>
        <td>$<%= orderitem.product.price %></td>
        <td><%= orderitem.quantity %></td>
        <td>$<%= orderitem.total %></td>
        <td>
          <% if orderitem.complete %>
          complete
          <% else %>
          incomplete
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
    </table>
    <br /><br />

    <hr />

    <h4>Products</h4>
    <h5><a name="products_active">Active Products</a></h5>
    <table class="table table-hover table-sm merchant_details" frame = "box">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Stock Quantity</th>
        <th>Price</th>
        <th>Image</th>
        <th>Change Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
    <% @merchant.products.each do |product| %>
    <% if product.active == true %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.description %></td>
        <td>✅</td>
        <td><%= product.stock_qty %></td>
        <td>$<%= product.price%></td>
        <td><%= image_tag product.photo_url, class: "sm_product_image", alt:"#{product.name}" %></td>
        <td>
          <% if product.active %>
            Mark Inactive
          <% else %>
            Mark Active
          <% end %>
        </td>
        <td><%= link_to "Edit", edit_product_path(product.id) %></td>
        <td><%= link_to "Delete", product_path(product.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
      </tr>
    <% end %>
    <% end %>
    </table>
    <br /><br />
    <h5><a name="products_inactive">Inactive Products</a></h5>
    <table class="table table-hover table-sm merchant_details" frame = "box">
    <thead>
      <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>ACTIVE</th>
        <th>STOCK QTY.</th>
        <th>PRICE</th>
        <th>PHOTO</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      </thead>
    <% @merchant.products.each do |product| %>
    <% if product.active == false %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.description %></td>
        <td>❌</td> 
        <td><%= product.stock_qty %></td>
        <td>$<%= product.price%></td>
        <td><%= image_tag product.photo_url, class: "sm_product_image", alt:"#{product.name}" %></td>
        <td><%= link_to "Edit", edit_product_path(product.id) %></td>
        <td><%= link_to "Delete", product_path(product.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
      </tr>
    <% end %>
    <% end %>
    </table>
  </section>
</section>