<%# <p><%= link_to "Return to Merchant List", merchants_path %>
<%# <p><%= link_to "Add New Product", merchant_products_path(@merchant.id), method: :post %>

<section class="merchant-show-container">
  <section class="merchant-info">
    <% if @merchant.uid < 100000 %>
      <%= image_tag "https://avatars1.githubusercontent.com/u/0", alt: "Anonymous profile photo" %>
    <% else %>
      <%= image_tag "https://avatars1.githubusercontent.com/u/#{@merchant.uid}", alt: "github profile photo" %>
    <% end %>
  </section>

  <section class="merchant-info-details">
    <h2><%= @merchant.username.capitalize %></h2>
    <p>Average product rating</p>
  </section>

  <%# only shows active products %>
  <section class="merchant-product-header">
    <h4>Products</h4>
  </section>

  <section class="merchant-products-list">
    <% @merchant.products.where(active: true).where("stock_qty > ?", 0).each do |product| %>
    <ul>
      <%= image_tag(product.photo_url, alt:"#{product.name}") %>

      <section class="product-name">
        <li><%= link_to "#{ product.name.capitalize}", product_path(product) %></li>
      </section>

      <section class="product-merchant">
        <li><%= link_to @merchant.username, merchant_path(@merchant) %></li>
      </section>

      <section class="product-price">
        <li>$<%= sprintf('%.2f', product.price) %></li>
      </section>

      <section class="product-stock">
        <li><%= product.stock_qty %> left in stock!</li>
      </section>
    </ul>
    <% end %>
  </section>
</section>