<% if @merchant.uid < 100000 %>
  <%= image_tag "https://avatars1.githubusercontent.com/u/0", alt: "Anonymous profile photo" %>
<% else %>
  <%= image_tag "https://avatars1.githubusercontent.com/u/#{@merchant.uid}", alt: "github profile photo" %>
<% end %>
Username: <%= @merchant.username %>
<%# UID: <%= @merchant.uid %>
<%# E-Mail: <%= @merchant.email %>

<table>
<tr>
<th>PHOTO</th>
<th>NAME</th>
<th>DESCRIPTION</th>
<th>ACTIVE</th>
<th>STOCK QTY.</th>
<th>PRICE</th>
<th>EDIT</th>
<th>DELETE</th>
</tr>
<% @merchant.products.order(:name).each do |product| %>
<tr>
<td><%= link_to image_tag(product.photo_url, class: "sm_product_image", alt:"#{product.name}"), product_path(product) %></td>
<td><%= link_to "#{product.name}", product_path(product)%></td>
<td><%= product.description %></td>
<td><%= product.active %></td>
<td><%= product.stock_qty %></td>
<td>$<%= product.price%></td>
<td><%= link_to "Edit", edit_product_path(product.id) %></td>
<td><%= link_to "Delete", product_path(product.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
</tr>
<% end %>
</table>

<%# <p><%= link_to "Add New Product", merchant_products_path(@merchant.id), method: :post %></p>
<p><%= link_to "Return to Merchant List", merchants_path %></p>
