
      <ul>
            <li>Photo: <%= image_tag(@product.photo_url, alt:"#{@product.name}") %></li>
            <li>Product Name: <%= @product.name.titleize %></li>
            <li>Description: <%= @product.description %></li>
            <li>Status: <%= @product.active %></li>
            <li>Stock Quantity: <%=@product.stock_qty %></li>
            <li>Price: $<%= @product.price %></li>
            <li>Merchant ID: <%= @product.merchant_id %></li>
