<h2>All Products</h2>
<% @products.each do |product| %>
      <ul>
            <li><%= image_tag(product.photo_url, alt:"#{product.name}") %></li>
            <li>Product Name: <%= link_to "#{ product.name.capitalize}", product_path(product) %></li>
            <li>Description: <%= product.description %></li>
            <li>Status: <%= product.active %></li>
            <li>Stock Quantity: <%= product.stock_qty %></li>
            <li>Price: $<%= product.price %></li>
            <li>Merchant ID: <%= product.merchant_id %></li>
      </ul>
      <hr>
<% end%>