<h2><%= @product.name.titleize %> </h2>
<ul>
  <li>Photo: <%= image_tag(@product.photo_url, alt:"#{@product.name}") %></li>
  <li>Product Name: <%= @product.name.titleize %></li>
  <li>Description: <%= @product.description %></li>
  <li>Status: <%= @product.active %></li>
  <li>Stock Quantity: <%=@product.stock_qty %></li>
  <li>Price: $<%= @product.price %></li>
  <li>Merchant ID: <%= @product.merchant_id %></li>
</ul>

<%= form_for Orderitem.create do |f| %>
  <%= f.hidden_field :order_id, value: @cart.id %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.label :quantity %>
  <%= f.select :quantity, [5, 4, 3, 2, 1]%>
  <%= f.submit "Add to cart" %>
<% end %>
