<h2><%= @product.name.titleize %> </h2>
<ul>
  <%= image_tag(@product.photo_url, alt:"#{@product.name}") %>
  <li>Product Name: <%= @product.name.titleize %></li>
  <li>Description: <%= @product.description %></li>
  <li>Status: <%= @product.active %></li>
  <li>Price: $<%= @product.price %></li>
  <li>Merchant: <%= @product.merchant.username %></li>
</ul>

<% if @product.stock_qty > 0 %>
  <%= form_for Orderitem.create do |f| %>
    <%= f.hidden_field :order_id, value: @order.id %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.label :quantity %>
    <%= f.select :quantity, (1..@product.stock_qty)%>
    <%= f.submit "Add to cart" %>
  <% end %>
<% else %>
  Quantity<br>
  Sold out
<% end %>
