<h2><%= @product.name.titleize %> </h2>
<ul>
  <li>Photo: <%= image_tag(@product.photo_url, alt:"#{@product.name}") %></li>
  <li>Product Name: <%= @product.name.titleize %></li>
  <li>Description: <%= @product.description %></li>
  <li>Status: <%= @product.active %></li>
  <li>Stock Quantity: <%=@product.stock_qty %></li>
  <li>Price: $<%= @product.price %></li>
  <li>Merchant ID: <%= @product.merchant_id %></li>
</ul>

<%= form_for Orderitem.create do |f| %>
  <%= f.hidden_field :order_id, value: @cart.id %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.label :quantity %>
  <%= f.select :quantity, (1..@product.stock_qty)%>
  <%= f.submit "Add to cart" %>
<% end %>


<section>
      <h1>Product Reviews</h1>
      <ul>
        <% Review.where(product_id: params[:id]).each do |review|%>
          <li>Date: <%= review.date.to_s[0..9] %></li>
          <li>Reviewer: <%= review.reviewer %></li>
          <li>Rating: <%= review.rating %></li>
          <li>Coment: <%= review.comment %></li>
          <hr>
        <%end%>
      </ul>
    </section>

    <li class="nav-item app-header__nav_item">
  <%=link_to "Add Review",  new_product_review_path(@product.id), :class=>"btn btn-primary"%>
</li>