<!DOCTYPE html>
<html>
  <head>
    <title>Sudsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
    <nav>
      <h1>SUDSY</h1>
      <ul>
        <li><%= link_to "home", root_path, class: "btn btn-primary" %></li>
        <li><%= link_to "all products", products_path, class: "btn btn-primary" %></li>
        <li><%= link_to "create product", new_product_path, class: "btn btn-primary" %></li>
        <li><%= link_to "all merchants", merchants_path, class: "btn btn-primary" %></li>
        <li><%= link_to "Shopping cart", order_path(@cart), class: "btn btn-primary" %></li>

          <ul class="login_header_container">
          <% if session[:user_id] %>
              <% @current_merchant = Merchant.find_by(id: session[:user_id]) %>
              <% if @current_merchant.username != nil %>
                <a class="btn btn-primary"> Logged in as <%= @current_merchant.username %></a>
              <% else %>
                <a class="btn btn-primary"> Logged in as Merchant ID: <%= @current_merchant.id %></a>
              <% end %>
              <li><%= link_to "Log out", logout_path, class: "btn btn-primary", method: "delete" %></li>
          <% else %>
          <li><%= link_to "Login with GitHub", github_login_path, class: "btn btn-primary" %></li>
          <% end %>
        </ul>
      </nav>
  
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>